@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.chat{
    background-image: url("../public/bg-chat-tile.png");
    background-color: #d1d7db;
}
.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
    border-radius:20px
}
/* Default styles for the hamburger menu */
.hamburger-menu {
    display: none; /* Hide the menu by default on larger screens */
  }
  
  /* Media query for screens with a maximum width of 768px (typical for mobile devices) */
  @media only screen and (max-width: 768px) {
    .hamburger-menu {
      display: block; /* Display the menu on smaller screens */
      /* Add additional styles or adjustments as needed for mobile layout */
    }
  }
  